<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <title></title>
  </head>
  <body>
    <!--Header-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand mb-0 h1" href="#">HSE CONNECTION</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Моя страница<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Новости</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Сообщения</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Группы</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Выход</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row mt-3">
        <div class="col-lg-3 sm-12">
          <img src="Avatar.jpg" class="card-img-top" alt="...">
          <div class="btn-group d-flex" role="group" aria-label="...">
            <button type="button" class="btn btn-dark w-100 mt-1">Сообщение</button>
            <button type="button" class="btn btn-info w-20 mt-1">+</button>
          </div>
        </div>
        <div class="col-lg-9 sm-12">
          <h3>Терминатор Тэвосемьсотович</h3>
          <hr>
          <a href="#" class="badge badge-pill badge-dark">Бодибилдинг</a>
          <a href="#" class="badge badge-pill badge-dark">Кинематограф</a>
          <a href="#" class="badge badge-pill badge-dark">Политика</a>
          <a href="#" class="badge badge-pill badge-dark">Иностранные языки</a>
          <a href="#" class="badge badge-pill badge-dark">Бизнес</a>
          <div class="row">
            <div class="col-sm-6">
              <div class="card mt-3">
                <img src="ph1.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Моя работа в качестве губернатора Калифорнии</h5>
                  <p class="card-text">В 2003 году я был избран на пост губернатора Калифорнии от Республиканской партии.
                    Я стал 38-м губернатором этого штата и первым губернатором штата, родившимся за пределами США.
                    Почему я решился на этот шаг и как изменилась моя жизнь?</p>
                  <a href="#" class="btn btn-info">Читать далее...</a>
                </div>
              </div>
              <div class="card mt-3">
                <div class="card-body">
                  <h5 class="card-title">Попробовал написать свой первый пост</h5>
                  <p class="card-text">Только что попробовал написать свой первый пост на этом ужасном сайте. И у меня получилось! В этом посту я хочу научить вас, как писать посты на этом ужасном сайте.</p>
                  <a href="#" class="btn btn-info">Читать далее...</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card mt-3">
                <div class="card-body">
                  <h5 class="card-title">Почему я поступил в Вышку</h5>
                  <p class="card-text">Вышка - один из лучших университетов в моей любимой стране - России! И год назад я поступил на первый курс бакалавриата факультета бодибилдинга в нижегородском кампусе.</p>
                  <a href="#" class="btn btn-info">Читать далее...</a>
                </div>
              </div>
              <div class="card mt-3">
                <img src="ph2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Привет, мир!</h5>
                  <p class="card-text">Всем привет! Я только что зарегистрировался на этом сайте. Подписывайтесь на меня, буду здесь публиковать свои исследования про бодибилдинг.
                  Также иногда буду публиковать забавные истории со съемок и времен моего губернаторства в Калифорнии. Всем piece!</p>
                  <a href="#" class="btn btn-info">Читать далее...</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
