<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <title>Моя страница</title>
</head>

<body class="bg-light">
  <!--Header-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
      <!--Бренд-->
      <a class="navbar-brand mb-0 h1" href="{% url 'index' %}">HSE CONNECTION</a>
      <!--Тогглер для маленьких устройств-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--Пункты меню-->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Моя страница<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Новости</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Сообщения</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Группы</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Выйти</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--Body-->
  <div class="container">
    <div class="row mt-3">
      <div class="col-lg-3 sm-12">
        <!--Аватарка-->
        <img src="Avatar.jpg" class="card-img-top" alt="...">
        <!--Подписки, подписчики-->
        <div class="list-group mt-3">
          <a href="#" class="list-group-item list-group-item-action">Подписки</a>
          <a href="#" class="list-group-item list-group-item-action">Подписчики</a>
        </div>
      </div>
      <div class="col-lg-9 sm-12">
        <!--Имя Фамилия-->
        <h3>Имя Фамилия</h3>
        <!--Кампус и факультет-->
        <h9 class="text-secondary">Москва, факультет компьютерных наук</h9>
        <hr>
        <!--Профессиональные интересы-->
        <a href="#" class="badge badge-pill badge-dark">Бодибилдинг</a>
        <a href="#" class="badge badge-pill badge-dark">Кинематограф</a>
        <a href="#" class="badge badge-pill badge-dark">Политика</a>
        <a href="#" class="badge badge-pill badge-dark">Иностранные языки</a>
        <a href="#" class="badge badge-pill badge-dark">Бизнес</a>
        <a href="#" class="badge badge-pill badge-dark">Машинное обучение</a>
        <button type="button" class="btn btn-dark badge badge-pill badge-dark" data-toggle="modal" data-target="#newHashtag">+</button>
        <div class="modal fade" id="newHashtag" tabindex="-1" role="dialog" aria-labelledby="newHashtagLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <!--Modal header-->
              <div class="modal-header">
                <h5 class="modal-title" id="newHashtagLabel">Новый интерес</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <!--Modal body-->
              <div class="modal-body">
                <form>
                  <!--Новый интерес-->
                  <div class="form-group">
                    <label for="hashtag" class="col-form-label">Новый интерес:</label>
                    <input type="text" class="form-control" id="hashtag" required>
                  </div>
                  <!--Кнопки "закрыть" и "сохранить"-->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-dark">Сохранить</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!--Блок с лентой и деятельностью-->
        <div class="card mt-3">
          <!--Заголовок блока-->
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link active text-dark" id="feed-tab" data-toggle="tab" href="#feed" role="tab" aria-controls="feed" aria-selected="true">Лента</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" id="business-tab" data-toggle="tab" href="#business" role="tab" aria-controls="business" aria-selected="false">Деятельность</a>
              </li>
            </ul>
          </div>
          <!--Тело блока-->
          <div class="card-body">
            <div class="tab-content">
              <!--Лента-->
              <div class="tab-pane fade show active" id="feed" role="tabpanel" aria-labelledby="feed-tab">
                <!--Кнопка добавления новой записи-->
                <button type="button" class="btn btn-dark btn-block mb-3" data-toggle="modal" data-target="#newPostModal">Новая запись <i class="fas fa-pen"></i></button>
                <!--Модальное окно добавления новой записи-->
                <div class="modal fade" id="newPostModal" tabindex="-1" role="dialog" aria-labelledby="newPostModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <!--Modal header-->
                      <div class="modal-header">
                        <h5 class="modal-title" id="newPostModalLabel">Новая запись</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <!--Modal body-->
                      <div class="modal-body">
                        <form>
                          <!--Заголовок записи-->
                          <div class="form-group">
                            <label for="post-head" class="col-form-label">Заголовок:</label>
                            <input type="text" class="form-control" id="post-head" required>
                          </div>
                          <!--Текст записи-->
                          <div class="form-group">
                            <label for="post-body" class="col-form-label">Текст:</label>
                            <textarea class="form-control" id="post-body" required></textarea>
                          </div>
                          <!--Картинка-->
                          <div class="form-group">
                            <label for="post-image" class="col-form-label">Изображение (опционально):</label>
                            <div class="custom-file">
                              <input type="file" accept="image/*" class="custom-file-input" id="inputPhoto" aria-describedby="inputPhotoAddon">
                              <label class="custom-file-label" for="inputPhoto">Выбрать файл</label>
                            </div>
                          </div>
                          <!--Кнопки "закрыть" и "сохранить"-->
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-dark">Сохранить</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Сетка с постами-->
                <div class="row">
                  <div class="col-lg-6">
                    <div class="card border-light mb-3">
                      <img src="ph1.jpeg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Пост #4</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras bibendum felis erat, ac facilisis lectus aliquet et. Nunc consectetur posuere <a class="text-secondary" href="#">читать далее...</a></p>
                        <hr>
                        <p class="card-text text-secondary">2 дня назад</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="card border-light mb-3">
                      <img src="ph.jpeg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Пост #3</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras bibendum felis erat, ac facilisis lectus aliquet et. Nunc consectetur posuere <a class="text-secondary" href="#">читать далее...</a></p>
                        <hr>
                        <p class="card-text text-secondary">4 дня назад</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="card border-light mb-3">
                      <img src="ph.jpeg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Пост #2</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras bibendum felis erat, ac facilisis lectus aliquet et. Nunc consectetur posuere <a class="text-secondary" href="#">читать далее...</a></p>
                        <hr>
                        <p class="card-text text-secondary">2 недели назад</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="card border-light mb-3">
                      <img src="ph.jpeg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Пост #1</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras bibendum felis erat, ac facilisis lectus aliquet et. Nunc consectetur posuere <a class="text-secondary" href="#">читать далее...</a></p>
                        <hr>
                        <p class="card-text text-secondary">2 месяца назад</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--Деятельность-->
              <div class="tab-pane fade" id="business" role="tabpanel" aria-labelledby="business-tab">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Scripts-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>

</html>
